WCF.Client/Service References/ServicoASMX/ServicoAutenticacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarUsuarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ativo" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Administrador" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarUsuariosResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:element name="AutenticarAcesso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarAcessoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutenticarAcessoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ListarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticarAcessoSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticarAcesso" />
  </wsdl:message>
  <wsdl:message name="AutenticarAcessoSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticarAcessoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoAutenticacaoSoap">
    <wsdl:operation name="ListarUsuarios">
      <wsdl:input message="tns:ListarUsuariosSoapIn" />
      <wsdl:output message="tns:ListarUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarAcesso">
      <wsdl:input message="tns:AutenticarAcessoSoapIn" />
      <wsdl:output message="tns:AutenticarAcessoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoAutenticacaoSoap" type="tns:ServicoAutenticacaoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarUsuarios">
      <soap:operation soapAction="http://tempuri.org/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarAcesso">
      <soap:operation soapAction="http://tempuri.org/AutenticarAcesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoAutenticacaoSoap12" type="tns:ServicoAutenticacaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarAcesso">
      <soap12:operation soapAction="http://tempuri.org/AutenticarAcesso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoAutenticacao">
    <wsdl:port name="ServicoAutenticacaoSoap" binding="tns:ServicoAutenticacaoSoap">
      <soap:address location="http://localhost:62391/ServicoAutenticacao.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoAutenticacaoSoap12" binding="tns:ServicoAutenticacaoSoap12">
      <soap12:address location="http://localhost:62391/ServicoAutenticacao.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>